<div class="column">
    <a href="#url" class="link"><span class="fa fa-comments"></span></a>
    <a href="#url" class="title-small">Ücretsİz İletİşİm</a>
    <h4>Uzman Ekibimizle İletişime Geçin</h4>
    <a href="#buytheme" class="btn btn-style btn-primary">
        Schedule now
        <span class="fa fa-long-arrow-right ml-2"></span>
    </a>
</div>