@{
    Layout = null;
}
<section class="w3l-footers-20">
    <div class="footers20">
        <div class="container">
            <div class="footers20-content">
                <div class="d-grid grid-col-4 grids-content">
                    @await Component.InvokeAsync("SharedConsulationComponentPartial")
                    @await Component.InvokeAsync("SharedHelpDeskComponentPartial")
                    <div class="column mt-lg-0 mt-md-5">
                        @await Component.InvokeAsync("SharedMailSubscripeComponentPartial")
                        @await Component.InvokeAsync("SharedSocialMediaComponentPartial")
                    </div>
                </div>
                <div class="d-grid grid-col-3 grids-content1 bottom-border">
                    <div class="columns copyright-grid align-self">
                        <p class="copy-footer-29">
                            © @DateTime.Now.Year Emlak Satış Tüm Hakları Saklıdır | Tasarlayan <a target="_blank" href="https://github.com/dogukankosan">Doğukan Koşan</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button onclick="topFunction()" id="movetop" title="Go to top">
        &#10548;
    </button>
    <script>
        window.onscroll = function () {
            scrollFunction()
        };
        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
</section>