<ul class="footers-17_social">
    <h4 class="d-inline mr-4">Bizi Takip Edin</h4>
    <li><a href="#url" class="twitter"><span class="fa fa-github"></span></a></li>
    <li><a href="#url" class="facebook"><span class="fa fa-facebook"></span></a></li>
    <li><a href="#url" class="linkedin"><span class="fa fa-google-plus-square"></span></a></li>
    <li><a href="#url" class="instagram"><span class="fa fa-instagram"></span></a></li>
</ul>