<h4 class="mb-1">Yeni Haberlerden Haberdar Olun </h4>
<p>Güncel Haberlerden Bildirim Alın</p>
<form action="#" class="subscribe-form mt-4" method="post">
    <div class="form-group">
        <input type="email" name="subscribe" placeholder="Email Adresinizi Giriniz..." required="">
        <button class="btn btn-style btn-primary">Kayıt</button>
    </div>
</form>