<div title="Arama Kutusu" class="search mx-3">
    <input class="search_box" type="checkbox" id="search_box">
    <label class="fa fa-search" for="search_box"></label>
    <div class="search_form">
        <form action="error.html" method="GET">
            <input type="text" placeholder="Arama"><input type="submit" value="Arama">
        </form>
    </div>
</div>