<div class="column">
    <a href="#url" class="link"><span class="fa fa-phone"></span></a>
    <a href="#url" class="title-small">Destek Alın</a>
    <h4>Sorularınız Mı Var Veya Daha Fazla Bilgi Mi İstiyorsunuz? Şimdi Arayın</h4>
    <a href="tel:+1-2345-678-11">
        <p class="contact-phone mt-2">
            <span class="lnr lnr-phone-handset"></span> +1-2345-678-11
        </p>
    </a>
</div>